
.navbar-collapse>i{
    font-size: 25px;
    padding:0 20px;
    /* background: crimson;
    border-top: 2px solid rgb(21, 115, 71); */
}
.carousel-item{
    max-height: 40rem;
}

.container-check{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border-radius:5px;
    background: #fbfafa;
    padding: 15px;
}
@media (max-width: 767px) {
    .navbar-collapse>i{
      display: none;
    }
  }