header{
    background: url(../assets/img/img6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .btn-exit{
    position: absolute;
    max-width:100px;
} */