.header-1{
    background: url(../assets/img/img5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-2{
    background: url(../assets/img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
}
.btn-action{
    color:black;
}